version: "3.9"

services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: qryne
      POSTGRES_USER: qryne
      POSTGRES_DB: qryne

  redis:
    image: redis
    container_name: qryne-dev-redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  redis-commander:
    container_name: qryne-dev-redis-commander
    image: rediscommander/redis-commander
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8085:8081"

volumes:
  postgres-data:
    driver: local
  redis_data:
    driver: local
